 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A.J. Fillo is a PhD candidate in Mechanical Engineering at Oregon State University.
                      His specialty is thermal and fluid sciences, with a focus in combustion.
                      In addition to his academic pursuits, he has five years of experience as a professional magician and actor.  
                      A.J. is passionate about STEAM education and an avid supporter of the library and maker’s club.</p>
                </div>
                <div class="col-lg-4">
                    <p>More coming soon!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
