 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-justified">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>A.J. Fillo is a PhD candidate in Mechanical Engineering at Oregon State University (OSU).
                      His specialty is thermal and fluid sciences, with a focus in combustion.  A.J. recieved his
                      Masters of Science in Mechanical Engineering from Oregon State University in December of 2016. 
                      Advised by Dr. David L. Blunck, his masters thesis presented an unpresidented experimental 
                      investigation and anaylsis of the turbulent flame speeds of liquid jet fuels.  A.J. us currently advised by 
                      Dr. Kyle E. Niemeyer and is continuing his investigation of liquid jet fuels computationally with the 
                      direct numerical simulation code NGA.  His initial work on multi-component mass diffusion has been well
                      recieved by the combustion community.
                      </p>
                </div>
                <div class="col-lg-4">
                    <p>In addition to his academic pursuits, A.J. has five years of experience as a professional magician and actor.  
                     Combining his love of science, technology, engineering, arts, and mathematics (STEAM) A.J. has founded two
                     outreach program at Oregon State University and in the local Corvallis, Benton-County Community.  Project X: STEAM
                     Outreach, co-founded by Kyle Zada, is a OSU student organization in the School of Mechanical, Industrial, and
                     Manufacturing Engineering focused on K-20 STEAM education through development of multi-media educational demo's.
                     Lib Lab, short for Library Laboratory, is a fun, educational video series Created, writen, Directed, 
                     and Hosted by AJ Fillo and produced in partnership by the Corvallis-Benton County Public Library.
                     A.J. is passionate about STEAM education and an avid supporter of the library and maker’s club.</p>
                </div>
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
