 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <!--<div class="col-lg-4 col-lg-offset-2">-->
                     <p class="text-justify">A.J. Fillo is a Ph.D. candidate and National Science Foundation Graduate
                     Research Fellow in Mechanical Engineering at Oregon State University (OSU).
                     His specialty is thermal and fluid sciences, with a focus in combustion.  A.J. recieved his
                     Masters of Science in Mechanical Engineering from Oregon State University in December of 2016. 
                     Advised by Dr. David L. Blunck, his masters thesis presented an unprecedented experimental 
                     investigation and anaylsis of the turbulent flame speeds of liquid jet fuels.  A.J. is currently advised by 
                     Dr. Kyle E. Niemeyer and is continuing his investigation of liquid jet fuels computationally using the 
                     direct numerical simulation code NGA.  His experimental work on turbulent flame speeds and computational work
                     on multi-component mass diffusion in turbulent flames has been well recieved by the combustion community,
                     and earned him a visiting research position at the California Institute of Technology.
                     As a Ph.D. candidate A.J. also serves as a substitute lecturer for OSU faulty and mentor for undergraduate
                     students in his lab.</p>
                <!--</div>-->
                <!--<div class="col-lg-4">-->
                     <p class="text-justify">In addition to his academic pursuits, A.J. has five years of experience as a professional
                     magician and actor.  Combining his love of science, technology, engineering, arts, and mathematics (STEAM) A.J. 
                     has founded two outreach program at Oregon State University and in the local Corvallis, Benton-County Community.
                     These projects are: <em>Project X: STEAM Outreach</em>, an OSU student group co-founded by Kyle Zada, and 
                     <em>Lib Lab</em>, short for Library Laboratory, created, written, directed, and hosted by AJ Fillo and produced 
                     in partnership by the Corvallis-Benton County Public Library.  A.J. outreach efforts have been featured numerous
                     times in <a ref="http://mime.oregonstate.edu/fanning-flames-next-generation-engineers" class="text-success">OSU pbulications and media</a>,
                     and on the front page of the <a ref="http://www.gazettetimes.com/news/local/library-s-science-guy/article_aee1363d-bc40-56a0-94e6-81a50f9e9ffd.html" class="text-success">
                     Corvallis Gazette Times</a>.  Both projects work  to break down the barriers kids face in accessing STEAM education and 
                     highlight A.J.'s passion and desire to bring STEAM education to all.</p>
                <!--</div>-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
